@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.headerShadow {
  box-shadow: 0px 14px 32px 0px rgba(214, 214, 214, 0.1),
    0px 58px 58px 0px rgba(214, 214, 214, 0.09),
    0px 130px 78px 0px rgba(214, 214, 214, 0.05),
    0px 231px 92px 0px rgba(214, 214, 214, 0.01),
    0px 360px 101px 0px rgba(214, 214, 214, 0);
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
